.add-transaction {
    text-align: center;
    margin-top: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin: auto;
  }
  
  button {
    background-color: #61dafb;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #21a1f1;
  }
  
  .transaction-type {
    display: flex;
    justify-content: space-around;
  }
  