/* src/components/Home.css */
h1 {
    color: #282c34;
    text-align: center;
    margin-top: 2rem;
  }
  
  div {
    text-align: center;
    margin-top: 2rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  